.sidebar {
}
#three{
    background-color: blue;
}

.scene{
    border: solid 1px;
}

.object {
    margin: 5px;
}

.in {
    margin: 10px;
}

.container { 
 	text-align:center;
 	color:#88c3ce;
 	
}
.navbar{
	color:#88c3ce;
}

.col-xs-8{
margin-left:140px;
text-align:center;
}

.h2{
font-style:italic;
color:#88c3ce;

}